.foot {
  background-color: #bd5300;
  position: relative;
  /* position: inherit; */
  /* height: 100%; */
  width: 100vw;
  height: 150%;
  margin-top: -11%;
}
/* .container {
  width: 80vw;
} */

a {
  color: aliceblue;
}
a:link {
  text-decoration: none;
}
i {
  cursor: pointer;
}
i:hover {
  color: aquamarine;
}
