.container-fluid {
  height: 35rem;
  /* width: 100vw; */
  /* mix-blend-mode: lighten; */
  position: absolute;
  background: #972103;
  left: 0;
  top: 0;
  right: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  /* justify-content: space-evenly; */

  /* background-color: blue; */
  background: url(../images/purpleBackground.jpg);
  object-fit: fill;

  background-color: rgb(227, 136, 17);
  background-blend-mode: darken;
}
.content {
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
